<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.actitime.script.CustomerModule"/>
      <class name="com.actitime.script.TestDemo"/>
      <class name="com.actitime.script.CustomerModule2"/>
      <class name="com.actitime.script.CustomerModule3"/>
      <class name="com.actitime.script.DemoAssertion2"/>
      <class name="com.actitime.script.DemoAssertion"/>
      <class name="com.actitime.script.TestMethod"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
